.container {
	.content {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

  .aside {
    .content {
      padding-left: 16px !important;
    }
  }

  .content-container {
    max-width: none !important;
  }
}
